<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainTemplate" xmlns:sec="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8" />

<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css"
	rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<div class="page-header" layout:fragment="page_Header">
		<h3 th:text="|#${appointment.id} Foglalási adatok|"></h3>
	</div>

	<section layout:fragment="page-content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 th:text="|#${appointment.id} Foglalási adatok|" class="panel-title"></h3>
			</div>
			<div class="panel-body">
				<form th:action="@{/appointment/modify}" th:object="${appointment}" method="post">
					<th:block layout:replace="fragments/standardForms :: standardFormRowDisabled('consultationHour.department.name', 'Osztály név')" />
					
				
					<th:block layout:replace="fragments/consultationHourFrag :: consultationHour(${true})" />			
			
					<th:block layout:replace="fragments/standardForms :: standardFormTextAreaRow(fieldName = 'complaints',propertyName = 'Panasz rövid leírása', disabled = ${isDisabled})" />

					<div class="row">
						<input th:unless="${isDisabled}" class="btn btn-info" type="submit" value="Módosítás" />
					</div>
				</form>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Feltöltött leletek</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<table id="table-1" class="table-striped table-hover col-md-12">
						<thead>
							<tr class="row">
								<th class="col-md-2">Lelet neve</th>
								<th class="col-md-2">Létrehozás dátuma</th>
								<th class="col-md-2">Létrehozója</th>
								<th class="col-md-4"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${documentAppFileList != null}" class="row"
								th:each="docFileApp : ${documentAppFileList}" th:object="${docFileApp}">
								<td class="col-md-2" th:text="*{document.fileName}">IB520</td>
								<td class="col-md-2" th:text="*{{document.createDate}}">2010-10-10 15:45:10</td>
								<td class="col-md-2" th:text="*{createUser.personalData.name.fullName}">Valaki</td>
								<td class="col-md-4">
									<div>
										<a class="btn btn-info" href="#"
											th:href="@{/appointment/__*{appointment.id}__/download/__*{document.id}__}"> Letöltés </a>
									</div>
								</td>
							</tr>
							<tr th:unless="${documentAppFileList!=null}">
								<td colspan="4">Nincs feltöltött lelet</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Lelet feltöltés</h3>
			</div>
			<div id="document-upload-div" class="panel-body form-group">
				
				<form method="POST" th:action="@{/appointment/__${appointment.id}__/uploadFile}" enctype="multipart/form-data">
					<div class="row">
						
						<div class="col-md-2">
							<span> Feltöltendő típus</span>
						</div>
						<div class="col-md-3">	
							<select style="margin-bottom: 10px" class="form-control" name="documentType" >
								<option th:each="documentType : ${documentTypeList}" th:value="${documentType}" th:text="#{enum.documentTypeEnum.__${documentType}__}"></option>
							</select>	
						</div>
					
						<th:block layout:replace="fragments/standardForms :: fileUpload" />
					</div>
				</form>
			</div>
		</div>


		<div class="panel-body" th:object="${appointment}">
			<a th:unless="${isDisabled}" class="btn btn-info" th:href="@{/myAppointments}">Vissza</a>

			<!--/*-->
				<!-- Meglévő role-khoz kapcsolódva lehet egyik oldalról a másikra navigálni -->
			<!--*/-->
			<th:block sec:authorize="hasRole('VIEW_CONSULTATION_HOUR_APPOINTMENTS')">
				<a th:if="${isDisabled}" class="btn btn-info"  
					th:href="@{/__*{consultationHour.department.id}__/consultationHour/__*{consultationHour.id}__}">Vissza</a>
			</th:block>
			<th:block sec:authorize="hasRole('LIST_MY_APPOINTMENTS')">
				<a th:if="${isDisabled}" class="btn btn-info" th:href="@{/myAppointments}">Vissza</a>
			</th:block>
		</div>
	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>