<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainTemplate" xmlns:sec="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8" />

<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css"
	rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<div class="page-header" layout:fragment="page_Header">
		<h3>Foglalás létrehozása</h3>
	</div>

	<section layout:fragment="page-content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Új foglalás adatai</h3>
			</div>
			<div class="panel-body">
				<form th:action="@{/__${consultationHour.id}__/appointment/create}" th:object="${appointment}"
					method="POST">
					<th:block layout:replace="fragments/consultationHourFrag :: consultationHourDisabled" ></th:block>
						
					<th:block th:object="${appointment}">
						<th:block layout:replace="fragments/standardForms :: standardFormTextAreaRow('complaints', 'Panasz rövid leírása', ${false})" />						
					</th:block>

					<div class="row">
						<input class="btn btn-info" type="submit" value="Mentés" />
						<a class="btn btn-info"
							th:href="@{/__${consultationHour.department.id}__/consultationHour/list}"> Mégse</a>
					</div>
				</form>
			</div>
		</div>
	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>