<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>WebKorház</title>
<!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
<link rel="shortcut icon" href=""/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" media="all"  href="../../css/gtvg.css" th:href="@{/template_files/css/bootstrap-datetimepicker.min.css}" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" layout:replace="fragments/menu :: navbar">
		<!-- /* Menü a fragments/navbar fileban  */-->
	</nav>

	<div class="container">
		<div class="page-header" layout:fragment="page_Header">
			<h3>Hello World! This is some shiny header from mainTemplate!</h3>
		</div>


		<div class="row">	
			<div class="col-sm-12 col-md-12" style="left: 20px">

				<th:block id="alert" layout:fragment="messageBox(displayMessage)" th:if="${displayMessage ne null}"
					th:object="${displayMessage}">
					<div id="alertBox" class="alert" th:classappend="|alert-*{severity.value}|" role="alert">
						<strong id="alert_severity_text" th:text="*{severity}">Message Header!</strong>
						<p id="alert_url" th:text="${errorUrl}" th:if="${errorUrl ne null}">http://error.url/valami</p>
						<p id="alert_text" th:text="*{content}">Some brilliant message content!!!!</p>

						<th:block th:if="${errorFields ne null}" th:each="errorField : ${errorFields}" th:object="${errorField}">
							<p th:text="#{*{field}}"> mező </p>
							<p th:text="#{*{code}}"> hiba </p>
						</th:block>
					</div>
				</th:block>
				
				<th:block id="alert" th:unless="${displayMessage ne null}" >
					<div id="alertBox" class="alert" role="alert" th:hidden="${displayMessage eq null}">
						<strong id="alert_severity_text" ></strong>
						<p id="alert_url" ></p>
						<p id="alert_text"></p>
					</div>
				</th:block>


				<section layout:fragment="page-content"></section>
			</div>
		</div>

	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery-3.1.1.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap-3.3.7.min.js}"></script>
<!-- 	<script src="#" th:src="@{/template_files/jquery.simple-dtpicker.js}"></script> -->
<script src="#" th:src="@{/template_files/bootstrap-datetimepicker.min.js}"></script>
	<!--/*-->
		<!--  Ne mozgasd el a custom Scripteknek fentartott section-t -->
	<!--*/-->
	<script src="#" th:src="@{/template_files/myScripts.js}"></script>
	
	<script type="text/javascript">
//   		Date picketer létrehozás
		  $('.form_datetime').datetimepicker({
		    	format: 'yyyy-mm-dd hh:ii',
		        language:  'hu',
		        weekStart: 1,
		        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
		    });
     </script>
	
	<section layout:fragment="scripts"></section>
</body>
</html>
