<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainTemplate">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css"
	rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<div class="page-header" layout:fragment="page_Header">
		<h3 th:text="${department.name}">Page Header</h3>
	</div>

	<section layout:fragment="page-content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Fogadó órák</h3>
			</div>
			<div class="panel-body form-group">
				<div class="row">
					<form id="editPersonalData" th:unless="${personalDataIsDisabled}" th:object="${searchEntity}"
						method="post" action="#" th:action="@{/department/__${department.id}__/consultationHour/list}">
						<div class="row">
							<div class="col-md-1">
								<label>Kezdete</label>
							</div>
							<div class="col-md-4" id="sandbox-container">
								<div class="input-group date">
									<input type="text" class="form-control" th:field="*{startDate}" value="2010-10-10" />
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-th"></i>
									</span>

								</div>
							</div>

							<div class="col-md-1">
								<label>Vége</label>
							</div>
							<div class="col-md-4" id="sandbox-container">
								<div class="input-group date">
									<input type="text" class="form-control" th:field="*{endDate}" value="2010-10-11" />
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-th"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<ul th:if="${#fields.hasErrors('*')}">
								<li th:each="err : ${#fields.errors('*')}" th:text="${err}" th:errorclass="text-danger">Input
									is incorrect</li>
							</ul>
						</div>
						<div class="row">
							<div class="col-md-2">

								<input class="btn btn-info" type="submit" value="Keresés" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div layout:include="fragments/appointmentTable :: table(consultationHourList = ${consultationHourList})" class="row table-responsive">
					
					<section layout:fragment="more-column-header" th:remove="tag">
						<th class="col-md-1">Jelentkezett száma/Férő hely</th>
					</section>
					
					<section layout:fragment="more-column-data" th:remove="tag">
						<td class="col-md-1" th:text="|*{numberOfAppointment} / *{maxNumberOfPatient}|">1/20</td>
					</section>
					
					<section layout:fragment="more-action-button" th:remove="tag">
						<div>
							<a class="btn btn-info" href="#" sec:authorize="hasRole('CREATE_APPOINTMENT')"  
								th:href="@{/appointment/create(chId=__*{id}__ , depId=__*{department.id}__)}"
								th:if="*{beginDate >= #dates.createNow()}"> Foglalás </a>

							<a class="btn btn-info" href="#" sec:authorize="hasRole('VIEW_CONSULTATION_HOUR_APPOINTMENTS')"
								th:href="@{/department/__${department.id}__/consultationHour/__*{id}__}"> Megtekintés</a>
								
							<!--csak orvos/admin kell hozzá role is  -->
							<!--	<a class="btn btn-warning" href="#" -->
							<!--		th:if="*{beginDate >= #dates.createNow()}"> Törlés (nincs kész)</a> -->
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<section layout:fragment="scripts">

		<script type="text/javascript">
			$(document).ready(function () {
		        $('#sandbox-container .input-group.date').datepicker({
		        	 format: "yyyy-mm-dd",
		            todayBtn: "linked",
		            language: "hu",
		            autoclose: true,
		            todayHighlight: true
		        });
			});
        </script>
	</section>

	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>