<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainTemplate">
<head>
<meta charset="UTF-8" />

<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<section layout:fragment="createMarketItem">
		<div class="panel panel-default">
			<div class="panel-body">
				<form action="#" th:action="@{/invertory/sell}" th:object="${newMarketItem}" method="post">
					<p>Product</p>
					<select th:field="*{invertoryItem.id}">
						<option th:if="${not #lists.isEmpty(invertoryItemList)}" th:each="invItem :  ${invertoryItemList}"  th:value="${invItem.id}" th:text="${invItem.product.name}"> vmi </option>
						<option th:unless="${not #lists.isEmpty(invertoryItemList)}" value="None">None </option>
					</select>
					
					<p>Amount</p>
					<input th:field="*{amount}" /> 

					<p>Cost</p>
					<input th:field="*{cost}" /> 
					
					<br/>
					<br/>

					<th:block th:switch="${not #lists.isEmpty(invertoryItemList)}">
						<input class="btn btn-info" th:case="${true}" type="submit" value="Create" />
						<input class="btn btn-info" th:case="${false}" type="submit" value="Create" disabled="disabled"/>
					</th:block>
				</form>
			</div>
		</div>
	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>