<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<section layout:fragment="createCompany">
		<div class="panel-body">
			<form id="createCompany" action="#" th:action="@{/company/create}" th:object="${newCompany}" method="post" >
			    <div class="form-group">
					<p>New Company name</p>
					<input title="3 characters minimum" th:field="*{name}" required="required"></input>
					
					<p>Product type</p>
					<p>
					
					<select id="productType" required="required" th:field="*{productType}">
						<th:block th:each="productType : ${productTypes}" th:value="${productType}">
							<option th:text="${productType.name()}"  > Valami</option>
						</th:block>
						<!--/*-->			
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<!--*/-->
					</select>
					
					</p>
					<p><strong th:text="|Money needed to build company : ${newCompanyCost}"> Money needed : xxx </strong></p>
					<p><strong th:text="|You have : ${currentUser.money}"> Money needed : xxx </strong> </p>
					<p>
						<button class="btn btn-default btn-info" type="submit" value="Create company" disabled="disabled" th:disabled="${newCompanyCost gt currentUser.money ? disabled : enabled}">
						 Create company</button>
					</p>
				</div>
			</form>
		</div>
	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>