<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="mainTemplateEmail">
  <head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <th:block layout:fragment="mail-body">
	<p th:text="| Tisztelt ${name.fullName} !|">
	  Hello, Peter Static!
	</p>
	<p>
	  A mai nap <span th:text="${#dates.format(createDate, 'yyyy-MMM-dd')}">28-12-2012</span> 
	  Feltöltésre került egy fájl az egyik foglalt időpontjához.
	</p>
   </th:block>
</html>