<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainTemplate">
<head>
<meta charset="UTF-8" />

<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<div class="page-header" layout:fragment="page_Header">
		<h3 th:text="|Country: ${selectedCountry.name}.|">Country: CountryName!</h3>
	</div>

	<section layout:fragment="page-content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Region information</h3>
			</div>
			<div class="panel-body" th:object="${selectedCountry}">
				<ul style="list-style-type: none;">
					<li><strong>Country Name:</strong></li>
					<li><p th:text="*{name}">Valami country name</p></li>

					<li><strong>Leader Name:</strong></li>
					<li><a href="#" th:href="@{/citizen(citizenId=*{countryLeader.id})}"><span
							th:text="*{countryLeader.username}"> Józska</span></a></li>
					<li><strong>Country:</strong></li>
					<li><p th:text="*{name}">VAlami oszagnev</p></li>
				</ul>
				<br />
				<h5>Owned region's</h5>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Region Name</th>
							<th>Terrain type</th>
							<th>Production modifier</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first" th:each="region : *{regions}" th:object="${region}">
						<tr>
							<td><a href="#" th:href="@{/region(regionId=*{id})}"><span th:text="*{name}">region name</span></a></td>
							<td th:text="*{terrain}">terrain ype</td>
							<td th:text="*{productionModifier}">prod modif</td>
						</tr>
						<tr>
							<td><a href="#"><span>Valami region name</span></a></td>
							<td>Marsh or plains</td>
						</tr>
					</tbody>
				</table>

				<div th:if="${currentUser.id eq selectedCountry.countryLeader.id}">
					<a href="#" th:href="@{/startVote(countryId=*{id})}">Start presidential vote in your country</a>
				</div>

				<br />
				<h5>Diplomatic Relations</h5>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Initiator country Name</th>
							<th>Country Name</th>
							<th>Diplomatic Relation Type</th>
							<th>Start Date</th>
							<th>End Date/ Expiration Date</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first" >
						<tr th:if="${diplomacies ne null}" th:each="diplomacy : ${diplomacies}" th:object="${diplomacy}">
							<td><a href="#" th:href="@{/country(countryId=*{countryOne.id})}"><span th:text="*{countryOne.name}">countryA name</span></a></td>
							<td><a href="#" th:href="@{/country(countryId=*{countryTwo.id})}"><span th:text="*{countryTwo.name}">countryA name</span></a></td>
							<td th:text="*{type}">Ally</td>
							<td th:text="*{{beginDate}}">2015 01 02</td>
							<td th:if="*{endDate ne null}" th:text="*{{endDate}}">2015 05 02</td>
							<td th:if="*{endDate eq null}" >Indefinit</td>
						</tr>
						<tr>
							<td><a href="#" th:href="@{/country(countryId=*{countryOne.id})}"><span th:text="*{countryOne.name}">countryA name</span></a></td>
							<td><a href="#" th:href="@{/country(countryId=*{countryTwo.id})}"><span th:text="*{countryTwo.name}">countryA name</span></a></td>
							<td th:text="*{type}">WAR</td>
							<td th:text="*{{beginDate}}">2015-01-02</td>
							<td th:text="*{{endDate}}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>