<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainTemplate">
<head>
<meta charset="UTF-8" />
<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css"
	rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<section layout:fragment="department" th:object="${department}">
		<div class="panel panel-default" style="margin: 0px 10px 0px 10px;">
			<div class="panel-heading" style="overflow: auto;">
				<h3 class="panel-title">
					<button style="float: left ; margin-right: 1%" data-toggle="collapse" data-target="#department"
						th:attr="data-target='#department_'+*{id}|">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</button>
					
					<span th:text="*{name}"> Osztály név</span>
					<div style="float: right">
						<span> Elérhetőség:</span>
						<span th:text="*{phoneNumber}"> telefonszám</span>
					</div>
				</h3>
			</div>

			<div id="department" th:id="|department_*{id}|" class="collapse out" style="margin-left: 2%">
				<div>

					<div class="row">
						<label class="col-md-2"> Osztály vezető</label>
						<span class="col-md-6"
							th:text="| *{departmentHead.personalData.name.firstName} *{departmentHead.personalData.name.lastName} |">Kovács
							JÁnos</span>
					</div>
					<div class="row">
						<div class="col-md-2" align="left">
							<img style="box-shadow: 5px 5px 20px 2px #888888; width: 75px; height: 75px;" alt="75x75"
								src="http://static1.squarespace.com/static/5500cbf0e4b027a44b143baf/t/5505bd20e4b015246aa32962/1426439457940/?format=100w" />
						</div>
						<div class="col-md-8" th:text="*{description}">Leírás</div>
					</div>
					<div class="row">
						<a class="btn btn-info" href="#" th:href="@{/__*{id}__/consultationHour/list}">Fogadó órák megtekintése</a>
						<a class="btn btn-warning" href="#" th:href="@{/department/__*{id}__}">Osztály adatainak módosítása</a>
					</div>
				</div>
			</div>
		</div>

	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>