<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css"
	rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<section layout:fragment="personalData" th:object="${personalData}">
		
		<input hidden="true" th:field="*{id}" />
		<div class="row">
			<div class="col-md-2">
				<span>Teljes név</span>
			</div>
			<div class="col-md-1">
				<th:block layout:replace="fragments/standardForms :: dropdownFormFieldWithEnum(fieldName = 'name.title', enumValues = ${T(hu.model.user.TitleEnum).values()}, disabled = ${personalDataIsDisabled})" />
			</div>
			<div class="col-md-3">
				<input class="form-control" required="required" th:disabled="${personalDataIsDisabled}"
					th:field="*{name.lastName}" value="Kovács" />
			</div>
			<div class="col-md-3">
				<input class="form-control" required="required" th:disabled="${personalDataIsDisabled}"
					th:field="*{name.firstName}" value="János" />
			</div>
			<div class="col-md-3">
				<span th:if="${#fields.hasErrors('name.lastName')}" th:errors="*{name.lastName}" th:errorclass="text-danger"> nöm
					látszik</span>
				<span th:if="${#fields.hasErrors('name.firstName')}" th:errors="*{name.firstName}" th:errorclass="text-danger">nöm
					látszik</span>
			</div>
		</div>
		
		<th:block layout:replace="fragments/standardForms :: standardFormRow(fieldName = 'motherName', propertyName = 'Anyja neve', disabled = ${personalDataIsDisabled})" />
		<th:block layout:replace="fragments/standardForms :: standardFormRow(fieldName = '{birthDate}', propertyName = 'Születési dátum', disabled = ${personalDataIsDisabled})" />
		<th:block layout:replace="fragments/standardForms :: standardFormRow(fieldName = 'phoneNumber', propertyName = 'Telefon szám', disabled = ${personalDataIsDisabled})" />
		<th:block layout:replace="fragments/standardForms :: standardFormRow(fieldName = 'tajNumber', propertyName = 'Taj szám', disabled = ${personalDataIsDisabled})" />
	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>