<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css"
	rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<section layout:fragment="personalData" th:object="${personalData}">
		<div class="form-group">
			<div class="row">
				<input hidden="true" th:field="*{id}" />
				<div class="col-md-2">
					<span>Name</span>
				</div>
				<div class="col-md-1">

					<select class="form-control" id="titles" th:disabled="${personalDataIsDisabled}"
						th:field="*{name.title}">
						<option value=""></option>
						<option th:each="title : ${T(hu.model.user.TitleEnum).values()}" th:value="${title}"
							th:text="${title}"></option>
						<!--/*-->
						<option value="3">3</option>
						<option value="4">4</option>
						<!--*/-->
					</select>
				</div>
				<div class="col-md-3">
					<input class="form-control" required="required" th:disabled="${personalDataIsDisabled}"
						th:field="*{name.lastName}" value="Kovács" />
				</div>
				<div class="col-md-3">
					<input class="form-control" required="required" th:disabled="${personalDataIsDisabled}"
						th:field="*{name.firstName}" value="János" />
				</div>
				<div class="col-md-3">
					<span th:if="${#fields.hasErrors('name.lastName')}" th:errors="*{name.lastName}" th:errorclass="text-danger"> nöm
						látszik</span>
					<span th:if="${#fields.hasErrors('name.firstName')}" th:errors="*{name.firstName}" th:errorclass="text-danger">nöm
						látszik</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<span>Anyja neve</span>
				</div>

				<div class="col-md-4">
					<input class="form-control" required="required" th:disabled="${personalDataIsDisabled}"
						th:field="*{motherName}" value="Jenő" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<span>Születési dátum</span>
				</div>

				<div class="col-md-4">
					<input class="form-control" required="required" th:disabled="${personalDataIsDisabled}"
						th:field="*{{birthDate}}" value="2012-10-10" />
				</div>

				<div class="col-md-4">
					<span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" th:errorclass="text-danger">nöm látszik</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<span>Telefon szám</span>
				</div>

				<div class="col-md-4">
					<input class="form-control" th:disabled="${personalDataIsDisabled}" th:field="*{phoneNumber}"
						value="0630854236" />
				</div>

				<div class="col-md-4">
					<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" th:errorclass="text-danger">nöm látszik</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<span>Taj szám</span>
				</div>

				<div class="col-md-4">
					<input class="form-control" th:disabled="${personalDataIsDisabled}" th:field="*{tajNumber}"
						value="0630854236" th:errorclass="text-danger" />
				</div>
				<div class="col-md-4" th:if="${#fields.hasErrors('tajNumber')}">
					<strong><span th:if="${#fields.hasErrors('tajNumber')}" th:errors="*{tajNumber}"
							th:errorclass="text-danger">nöm látszik</span></strong>
				</div>
			</div>
			<ul>
				<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
					<strong><span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span></strong> <strong><span
							th:text="${e.message}" >The error message</span></strong>
				</li>
			</ul>

		</div>

	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>