<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainTemplate">
<head>
<meta charset="UTF-8" />
<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>

	<th:block layout:fragment="datepickerField(fieldName)">
		<div class="col-md-4" >
			<div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
				<input class="form-control" size="16" type="text" th:field="*{__${fieldName}__}"/>
				<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        	</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="datepickerFieldWithTitle(fieldName, title)">
		<div class="col-md-2">
			<span th:text="${title}"></span>
		</div>
		<th:block layout:replace="fragments/standardForms :: datepickerField(${fieldName})"/>
	</th:block>
	

	<section layout:fragment="standardFormField(fieldName,propertyName,disabled)">
		<div class="col-md-2">
			<span th:text="${propertyName}"></span>
		</div>
		<div class="col-md-4">
			<input class="form-control" th:disabled="${disabled}" 
				th:field="*{__${fieldName}__}" value="műtét" />
		</div>
		<div class="col-md-4" th:if="${#fields.hasErrors('__${fieldName}__')}">
			<span th:errors="*{__${fieldName}__}" th:errorclass="text-danger">nöm látszik</span>
		</div>
	</section>
	
	<section layout:fragment="standardFormFieldDisabled(fieldName,propertyName)">
		<th:block layout:replace="fragments/standardForms :: standardFormField(${fieldName}, ${propertyName}, ${true})"/>
	</section>
	
	<th:block layout:fragment="standardFormTextAreaRow(fieldName,propertyName,disabled)">
		<div class = "row">
			<div class="col-md-2">
				<span th:text="${propertyName}"></span>
			</div>
			<div class="col-md-8">
				<textarea rows="5" class="form-control" th:disabled="${disabled}" 
					th:field="*{__${fieldName}__}" value="2012-12-12" ></textarea>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="standardFormTextAreaRowDisabled(fieldName,propertyName)">
		<th:block layout:fragment="fragments/standardForms :: standardFormTextArea(fieldName = ${fieldName}, propertyName = ${propertyName}, disabled = ${true})" />"
	</th:block>
	
	
	<section layout:fragment="standardFormRow(fieldName,propertyName,disabled)">
		<div class="row">
			<th:block layout:replace="fragments/standardForms :: standardFormField(${fieldName}, ${propertyName}, ${disabled})"/>
		</div>
	</section>
	
	<section layout:fragment="standardFormRowDisabled(fieldName,propertyName)">
		<th:block layout:replace="fragments/standardForms :: standardFormRow(${fieldName}, ${propertyName}, ${true})"/>
	</section>

	<th:block layout:fragment="dropdownFormFieldWithTitle(fieldName,text , title, dropdownValues, disabled)">
		<div class="row">
			<div class="col-md-2">
				<span th:text="${title}" ></span>
			</div>
			<div class="col-md-4">
				<select class="form-control" th:disabled="${disabled}" th:field="*{__${fieldName}__}">
					<th:block th:each="option : ${dropdownValues}" th:object="${option}">
						<option th:value="${option.id}" th:text="*{__${text}__}"></option>
					</th:block>
				</select>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="dropdownFormFieldWithEnum(fieldName, enumValues, disabled)">
		<select style="width : 150%" class="form-control" th:disabled="${disabled}" th:field="*{__${fieldName}__}">
			<option value=""></option>
			<option th:each="option : ${enumValues}" th:value="${option}" th:text="${option}"></option>
		</select>
	</th:block>

	<th:block layout:fragment="dropdownFormFieldWithEnumAndTitle(fieldName, title, enumValues, disabled)">
		<div class="row">
			<div class="col-md-2">
				<span th:text="${title}" ></span>
			</div>
			<div class="col-md-4">
				<select class="form-control" th:disabled="${disabled}" th:field="*{__${fieldName}__}">
					<option th:each="option : ${values}" th:value="${option}" th:text="${option}"></option>
				</select>
			</div>
		</div>
	</th:block>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>