<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="mainTemplate" xmlns:sec="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8" />

<!--/*-->
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet" />
<link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" />
<!--*/-->
</head>
<body>
	<div class="page-header" layout:fragment="page_Header">
		<h3>Korházi osztályok</h3>
	</div>

	<section layout:fragment="page-content">
		<div class="panel-body">
			<th:block th:each="department : ${departmentList}" th:object="${department}">
					<section layout:include="fragments/departmentFrag :: department"></section>
			</th:block>
		</div>
	</section>


	<!--/*-->
	<!-- Bootstrap core JavaScript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#" th:src="@{/template_files/jquery.min.js}"></script>
	<script src="#" th:src="@{/template_files/bootstrap.min.js}"></script>
	<!--*/-->
</body>
</html>